$green : #32a773;
$yellow : #ffe166;
$lightGray : #f0eee1;
$darkGray : #2f3a3e;

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

body {
    margin: 0;
    letter-spacing: 0.3px;

    font: {
        family: 'Lato', sans-serif;
        size: 16px;
    }
}

.fontSerif {
    font-family: 'Slabo 27px', serif;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.greenText {
    color: $green !important;
}

.yellowText {
    color: $yellow !important;
}

.borderRight {
    border-right: 1px solid gray;
}

.darkGrayText {
    color: $darkGray !important;
}

.mainHeading {
    font: {
        size: 45px;
        weight: 300;
        family: 'Lato', sans-serif;
    }
}

/*NAVBAR*/
#myNavbar {
    z-index: 1;
    width: 100%;

    #navbarDropdown {
        color: $green;
    }

    .navbar-nav {
        .nav-item {
            padding: 5px;
            font-size: 14px;
        }

        a {
            font-weight: bold;

            &:hover {
                color: white !important;
                text-decoration: none;
            }
        }
    }

    .viewCheckout {
        font: {
            size: 12px;
            weight: 400;
        }

        color: #6b7e84;
    }
}

/*CAROUSEL*/
#myCarousel {
    width: 100%;
    height: 100%;

    .carousel-inner {
        .carousel-item {
            height: 750px;
        }
    }

    .carousel-indicators {
        bottom: 100px;

        li {
            width: 10px;
            height: 10px;
            border-radius: 100%;
            border: 1px solid white;
            list-style: none;
            margin: 5px;
            cursor: pointer;

            &:hover {
                background: white;
            }
        }
    }

    .myCaption {
        top: 40%;
        font-family: serif;
    }

    button {
        position: relative;
        top: 60px;
        color: $yellow;
        border-color: $yellow;
        border-width: 2px;

        font: {
            size: 12px;
            family: 'Lato', sans-serif;
        }

        padding: 15px 25px;

        &:hover {
            color: $green;
        }
    }
}

/*SERVICES*/
#services {
    background: {
        color: $darkGray;
    }

    img {
        padding-bottom: 30px;
    }

    p {
        font-family: 'Slabo 27px', serif;
    }
}

/*MAIN SECTION SERVICES*/
#mainContent {
    background: {
        color: $lightGray;
    }

    padding-bottom: 30px;

    .boxes {
        border: 1px solid #b3b3b3;
        box-shadow: 0px 1px 10px #b3b3b3;
        width: 100%;
        height: 97%;
        img {
            padding-bottom: 20px;
            transition: .5s;
        }
        p {
            &:last-child {
                font: {
                    family: 'Slabo 27px', serif;
                    size: 14px;
                }

            }
        }
    }
    .list {
        div {
            &:nth-child(n) {
                height: 323px;
            }
        }
    }
}

/*CONTACT*/
#contact {
    padding-top: 30px;

    background: {
        color: $green;
    }

    input {
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid white;
    }

    ::placeholder {
        color: white;
        padding: 20px 15px;
        font-family: 'Slabo 27px', serif;
    }

    button {
        color: $yellow;
        border-color: $yellow;
        border-width: 2px;

        font: {
            size: 12px;
            family: 'Lato', sans-serif;
        }

        padding: 12px 25px;

        &:hover {
            color: $green;
        }
    }

    span {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
    }

    p {
        font-family: 'Slabo 27px', serif;
    }
}

/*ABOUT US*/
#aboutUs {
    background: {
        image: url('../images/about-us-background.jpg');
        size: cover;
        position: center;
        repeat: no-repeat;
    }

    button {
        float: right;
        color: $yellow;
        border-color: $yellow;
        border-width: 2px;

        font: {
            size: 12px;
            family: 'Lato', sans-serif;
        }

        padding: 12px 25px;

        &:hover {
            color: $green;
        }
    }
}

/*FOOTER*/
#myFooter {
    font-size: 14px;
    padding: 40px 10px;

    .fa-facebook-f {
        color: #3b5998;

        &:hover {
            color: white;
            background-color: #3b5998;
            padding: 5px;
            border-radius: 20%;
            width: 20px;
            text-align: center;
        }
    }

    .fa-twitter {
        color: #55acee;

        &:hover {
            color: white;
            background-color: #55acee;
            padding: 5px;
            border-radius: 20%;
        }
    }

    p {
        margin-bottom: 0;
    }
}

/*MEDIA QUERIES*/
@media (min-width: 1900px) {
    .carousel-inner {
        .carousel-item {
            >img {
                width: 100%;
            }
        }
    }
}

@media (max-width: 1155px) {
    #myCarousel {
        .carousel-indicators {
            bottom: 65px;
        }
    }
}

@media (max-width: 992px) {
    p {
        font-size: 14px;
    }

    #myNavbar {
        background: $darkGray;
    }

    #myCarousel {
        .carousel-caption {
            top: 30%;
        }

        .carousel-indicators {
            bottom: 140px;
        }
    }

    .borderRight {
        border: none !important;
    }
}

@media (max-width: 767px) {
    #myCarousel {
        .carousel-inner {
            .carousel-item {
                height: 650px;
            }
        }

        .carousel-indicators {
            bottom: 100px;
        }

        .carousel-caption {
            .col-2 {
                display: none;
            }
        }
    }

    #aboutUs {
        .aboutHeading {
            text-align: center;
            padding-bottom: 0 !important;
        }
    }

    #myFooter {
        padding: 30px 10px;
    }
}

@media (max-width: 576px) {
    #myCarousel {
        button {
            display: none;
        }

        .carousel-indicators {
            bottom: 20px;
        }
    }

    #contact {
        img {
            padding-left: 0 !important;
        }

        .myForm {
            padding-left: 15px !important;
        }
    }

    #myFooter {
        .socialIcons {
            text-align: center !important;
            padding-top: 15px;
        }
    }
}

@media (max-width: 420px) {
    #myCarousel {
        .carousel-indicators {
            display: none;
        }

        .mainHeading {
            font-size: 40px;
        }
    }

    #aboutUs {
        button {
            margin-top: 20px;
        }
    }
}
@media (max-width: 350px){
    .myCaption{
        div {
            &:nth-child(2) {
               padding-top: 10px !important;
            }
        }
    }
}