@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Slabo+27px");
body {
  margin: 0;
  letter-spacing: 0.3px;
  font-family: 'Lato', sans-serif;
  font-size: 16px; }

.fontSerif {
  font-family: 'Slabo 27px', serif; }

.row {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.greenText {
  color: #32a773 !important; }

.yellowText {
  color: #ffe166 !important; }

.borderRight {
  border-right: 1px solid gray; }

.darkGrayText {
  color: #2f3a3e !important; }

.mainHeading {
  font-size: 45px;
  font-weight: 300;
  font-family: 'Lato', sans-serif; }

/*NAVBAR*/
#myNavbar {
  z-index: 1;
  width: 100%; }
  #myNavbar #navbarDropdown {
    color: #32a773; }
  #myNavbar .navbar-nav .nav-item {
    padding: 5px;
    font-size: 14px; }
  #myNavbar .navbar-nav a {
    font-weight: bold; }
    #myNavbar .navbar-nav a:hover {
      color: white !important;
      text-decoration: none; }
  #myNavbar .viewCheckout {
    font-size: 12px;
    font-weight: 400;
    color: #6b7e84; }

/*CAROUSEL*/
#myCarousel {
  width: 100%;
  height: 100%; }
  #myCarousel .carousel-inner .carousel-item {
    height: 750px; }
  #myCarousel .carousel-indicators {
    bottom: 100px; }
    #myCarousel .carousel-indicators li {
      width: 10px;
      height: 10px;
      border-radius: 100%;
      border: 1px solid white;
      list-style: none;
      margin: 5px;
      cursor: pointer; }
      #myCarousel .carousel-indicators li:hover {
        background: white; }
  #myCarousel .myCaption {
    top: 40%;
    font-family: serif; }
  #myCarousel button {
    position: relative;
    top: 60px;
    color: #ffe166;
    border-color: #ffe166;
    border-width: 2px;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    padding: 15px 25px; }
    #myCarousel button:hover {
      color: #32a773; }

/*SERVICES*/
#services {
  background-color: #2f3a3e; }
  #services img {
    padding-bottom: 30px; }
  #services p {
    font-family: 'Slabo 27px', serif; }

/*MAIN SECTION SERVICES*/
#mainContent {
  background-color: #f0eee1;
  padding-bottom: 30px; }
  #mainContent .boxes {
    border: 1px solid #b3b3b3;
    -webkit-box-shadow: 0px 1px 10px #b3b3b3;
    box-shadow: 0px 1px 10px #b3b3b3;
    width: 100%;
    height: 97%; }
    #mainContent .boxes img {
      padding-bottom: 20px;
      -webkit-transition: .5s;
      transition: .5s; }
    #mainContent .boxes p:last-child {
      font-family: 'Slabo 27px', serif;
      font-size: 14px; }
  #mainContent .list div:nth-child(n) {
    height: 323px; }

/*CONTACT*/
#contact {
  padding-top: 30px;
  background-color: #32a773; }
  #contact input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid white; }
  #contact ::-webkit-input-placeholder {
    color: white;
    padding: 20px 15px;
    font-family: 'Slabo 27px', serif; }
  #contact ::-ms-input-placeholder {
    color: white;
    padding: 20px 15px;
    font-family: 'Slabo 27px', serif; }
  #contact ::placeholder {
    color: white;
    padding: 20px 15px;
    font-family: 'Slabo 27px', serif; }
  #contact button {
    color: #ffe166;
    border-color: #ffe166;
    border-width: 2px;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    padding: 12px 25px; }
    #contact button:hover {
      color: #32a773; }
  #contact span {
    font-family: 'Lato', sans-serif;
    font-weight: 700; }
  #contact p {
    font-family: 'Slabo 27px', serif; }

/*ABOUT US*/
#aboutUs {
  background-image: url("../images/about-us-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  #aboutUs button {
    float: right;
    color: #ffe166;
    border-color: #ffe166;
    border-width: 2px;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    padding: 12px 25px; }
    #aboutUs button:hover {
      color: #32a773; }

/*FOOTER*/
#myFooter {
  font-size: 14px;
  padding: 40px 10px; }
  #myFooter .fa-facebook-f {
    color: #3b5998; }
    #myFooter .fa-facebook-f:hover {
      color: white;
      background-color: #3b5998;
      padding: 5px;
      border-radius: 20%;
      width: 20px;
      text-align: center; }
  #myFooter .fa-twitter {
    color: #55acee; }
    #myFooter .fa-twitter:hover {
      color: white;
      background-color: #55acee;
      padding: 5px;
      border-radius: 20%; }
  #myFooter p {
    margin-bottom: 0; }

/*MEDIA QUERIES*/
@media (min-width: 1900px) {
  .carousel-inner .carousel-item > img {
    width: 100%; } }

@media (max-width: 1155px) {
  #myCarousel .carousel-indicators {
    bottom: 65px; } }

@media (max-width: 992px) {
  p {
    font-size: 14px; }
  #myNavbar {
    background: #2f3a3e; }
  #myCarousel .carousel-caption {
    top: 30%; }
  #myCarousel .carousel-indicators {
    bottom: 140px; }
  .borderRight {
    border: none !important; } }

@media (max-width: 767px) {
  #myCarousel .carousel-inner .carousel-item {
    height: 650px; }
  #myCarousel .carousel-indicators {
    bottom: 100px; }
  #myCarousel .carousel-caption .col-2 {
    display: none; }
  #aboutUs .aboutHeading {
    text-align: center;
    padding-bottom: 0 !important; }
  #myFooter {
    padding: 30px 10px; } }

@media (max-width: 576px) {
  #myCarousel button {
    display: none; }
  #myCarousel .carousel-indicators {
    bottom: 20px; }
  #contact img {
    padding-left: 0 !important; }
  #contact .myForm {
    padding-left: 15px !important; }
  #myFooter .socialIcons {
    text-align: center !important;
    padding-top: 15px; } }

@media (max-width: 420px) {
  #myCarousel .carousel-indicators {
    display: none; }
  #myCarousel .mainHeading {
    font-size: 40px; }
  #aboutUs button {
    margin-top: 20px; } }

@media (max-width: 350px) {
  .myCaption div:nth-child(2) {
    padding-top: 10px !important; } }
